.nav {
    grid-area: n;
    background-color:rgba(0, 0, 255,.9);
    padding: 20px;
}


.item a {
    font-size: 25px;
    color:white;
    text-decoration:none;
}

.item a.activeLink {
    color: #000;
}


